html,body,div,span,iframe,map,font,img,a img,samp,strong,hr,
h1,h2,h3,h4,h5,h6,b,p,blockquote,a,address,code,dl,dt,dd,ol,
ul,li,form,label,table,tr,td,th,input{padding:0;margin:0;border:0;font-weight:normal;font-size:16px;font-family: Microsoft Yahei, Arial, Helvetica, sans-serif; color:#606060;}
body{background: #fff;position:relative;min-height:100%;}ul,li{list-style:none;}dl{}.f_l{float:left;}.f_r{float:right;}
html,div,img{
    border-image-width:0 !important;
}
body,html{
    overflow-x:hidden;
}
body{
    width:100%;
    float:left;
    position:relative;
}
.f_l{
    float:left;
}
.f_r{
    float:right;
}
.m_t_20{
    margin-top:20px;
}
.m_b_20{
    margin-bottom:20px;
}
.row{
    width:100%;
    float:left;
}
.dis_n,
.dis{
    display:none;
}
/*
@font-face {
	font-family: 'Kla_b_i';
	src: url('../font/Klavika Bold Italic.ttf') format('truetype'),
        url('../font/Klavika Bold Italic.otf') format('truetype') ;
	font-style: normal;
}
@font-face {
	font-family: 'Kla_b';
	src: url('../font/Klavika Bold.otf') format('truetype'),
        url('../font/Klavika Bold.ttf') format('truetype');
	font-style: normal;
}
@font-face {
	font-family: 'Kla_l_i';
	src: url('../font/Klavika Light Italic.otf') format('truetype'),
        url('../font/Klavika Light Italic.ttf') format('truetype');
	font-style: normal;
}
@font-face {
	font-family: 'Kla_l';
	src: url('../font/Klavika Light.otf') format('truetype'),
        url('../font/Klavika Light.ttf') format('truetype');
	font-style: normal;
}
@font-face {
	font-family: 'Kla_m_i';
	src: url('../font/Klavika Medium Italic.otf') format('truetype'),
        url('../font/Klavika Medium Italic.ttf') format('truetype');
	font-style: normal;
}
@font-face {
	font-family: 'Kla_m';
	src: url('../font/Klavika Medium.otf') format('truetype'),
        url('../font/Klavika Medium.ttf') format('truetype');
	font-style: normal;
}
@font-face {
	font-family: 'Kla_r_i';
	src: url('../font/Klavika Regular Italic.otf') format('truetype'),
        url('../font/Klavika Regular Italic.ttf') format('truetype');
	font-style: normal;
}
@font-face {
	font-family: 'Kla_r';
	src: url('../font/Klavika Regular.otf') format('truetype'),
        url('../font/Klavika Regular.ttf') format('truetype');
	font-style: normal;
}*/
.top_bar{
    width:100%;
    float:left;
    border-top:10px solid #f40002;
    background: -moz-linear-gradient(top, #fff, #eee); 
    background: -webkit-gradient(linear,top,from(#fff),to(#eee));
    background: -webkit-linear-gradient(top, #fff, #eee);
    background: -o-linear-gradient(top, #fff, #eee);
    box-sizing:border-box;
    padding:8px 15px;
}
.top_bar .top_logo{
    height:26px;
    float:left;
}
.top_bar .menu_btn{
    width:26px;
    height:26px;
    float:right;
}
.index_lesson_box{
    width:100%;
    float:left;
    background:url(../images/index_lesson_bg.jpg) #ededed no-repeat top left;
    background-size:100% auto;
    box-sizing:border-box;
    padding:25px 40px;
}
.index_lesson_box h2,
.pro_partner_box h2,
.str_partner_box h2{
    width:100%;
    float:left;
    font-size:18px;
    line-height:24px;
    color:#231815;
    text-align:center;
}
.index_lesson_box .lesson_div{
    width:100%;
    float:left;
    margin-top:20px;
}
.index_lesson_box .lesson_div .lesson_text{
    width:100%;
    float:left;
    border-top:3px solid #f40002;
    box-sizing:border-box;
    padding:10px 15px;
    background-color:#fff;
}
.index_lesson_box .lesson_div .lesson_text p{
    width:75%;
    float:left;
    font-size:16px;
    line-height:20px;
    color:#231815;
}
.index_lesson_box .lesson_div .lesson_text h3{
    width:25%;
    float:left;
    text-align:right;
    font-size:30px;
    line-height:30px;
    color:#ededed;
    font-style:italic
}
.index_lesson_box .lesson_div .lesson_text img{
    height:30px;
    float:right;
}
.pro_partner_box,
.str_partner_box{
    width:100%;
    float:left;
    box-sizing:border-box;
    padding:30px;
    background-color:#fff;
}
.pro_partner_box h2,
.str_partner_box h2{
    margin-bottom:10px;
}
.pro_partner_box img{
    width:45%;
    float:left;
    margin:6px 0;
}
.pro_partner_box a:nth-child(2n) img{
    margin-right:10%;
}
.prize_box,
.prize_page{
    width:100%;
    float:left;
    background:url(../images/prize_box_bg.jpg) no-repeat #e86666 top left;
    background-size:100% auto;
}
.prize_box .prize_text_img,
.prize_box .prize_content .prize_zj_div .prize_zj_img,
.prize_content .prize_zj_div .prize_zj_bar img,
.prize_content .prize_div .prize_img_box .prize_img,
.prize_content .prize_div .prize_img_box .prize_bar img,
.bottom_red_box img{
    width:100%;
    float:left;
}
.prize_box .prize_content{
    width:100%;
    float:left;
    box-sizing:border-box;
    padding:15px 8%;
}
.prize_box .prize_content .prize_btn{
    width:34%;
    float:left;
    font-size:13px;
    line-height:30px;
    color:#fff;
    background-color:#231815;
    border-radius:3px;
    text-align:center;
    user-select:none;
    -moz-user-select:none;
    -webkit-user-select:none;
}
.prize_box .prize_content .prize_btn:active{
    background-color:#777;
}
.prize_box .prize_content .prize_zj_div{
    width:60%;
    float:right;
    background-color:#fff;
    border-radius:3px;
    box-sizing:border-box;
    padding:10px 10px 20px 10px;
    position:relative;
    box-shadow: 3px 3px 3px 2px rgba(0,0,0,0.4);
}
.prize_box .prize_content .prize_zj_div h2,
.prize_box .prize_content .prize_div h2{
    width:100%;
    float:left;
    font-size:12px;
    line-height:20px;
    color:#f40002;
    margin-top:8px;
}
.prize_content .prize_zj_div .prize_zj_bar{
    width:94px;
    position:absolute;
    top:15px;
    right:-15px;
}
.prize_content .prize_zj_div .prize_zj_bar p{
    width:100%;
    float:left;
    font-size:13px;
    line-height:22px;
    color:#fff;
    text-align:center;
    position:absolute;
    top:0;
    left:0;
}
.prize_box .prize_content .prize_div{
    width:47%;
    float:left;
    background-color:#fff;
    border-radius:3px;
    box-sizing:border-box;
    padding:10px;
    position:relative;
    margin-top:15px;
    box-shadow: 3px 3px 3px 2px rgba(0,0,0,0.4);
}
.prize_box .prize_content .prize_div:nth-child(2n){
    margin-left:6%;
}
.prize_box .prize_content .prize_div h2{
    font-size:13px;
}
.prize_box .prize_content .prize_div p{
    width:100%;
    float:left;
    font-size:10px;
    color:#231815;
    line-height:12px;
    margin-top:10px;
}
.prize_box .prize_content .prize_div .prize_img_box{
    width:100%;
    float:left;
    position:relative;
}
.prize_img_box .prize_bar{
    width:80px;
    float:left;
    position:absolute;
    bottom:-15px;
    right:-4px;
}
.prize_img_box .prize_bar h3,
.prize_img_box .prize_bar h4{
    position:absolute;
    font-size:13px;
    color:#fff;
    text-align:center;
}
.prize_img_box .prize_bar h3{
    width:58px;
    top:0;
    left:0;
    line-height:24px;
}
.prize_img_box .prize_bar h4{
    width:22px;
    bottom:0;
    right:0;
    line-height:22px;
}
.str_partner_box img{
    width:30%;
    float:left;
    margin:10px 5% 5px 0;
}
.str_partner_box a:nth-child(3n+1) img{
    margin-right:0;
}
.bottom_red_box{
    width:100%;
    float:left;
    background-color:#f40002;
}
.bottom_red_box .bottom_red_btn{
    float:left;
    font-size:14px;
    line-height:30px;
    color:#fff;
    padding:0 10px;
    border-radius:3px;
    background-color:#231815;
    transform:translateX(-50%);
    margin:20px 0 20px 50%;
    user-select:none;
    -moz-user-select:none;
    -webkit-user-select:none;
}
.bottom_red_box .bottom_red_btn:active{
    background-color:#777;
}
.page_bottom{
    width:100%;
    float:left;
}
.page_bottom .copyright_statement{
    width:100%;
    float:left;
    font-size:7px;
    color:#231815;
    line-height:11px;
    background-color:#ededed;
    text-align:center;
    padding:8px 10px;
    box-sizing:border-box;
}
.page_bottom .bottom_box{
    width:100%;
    float:left;
    background-color:#aaaaaa;
    box-sizing:border-box;
    padding:8px 15px 15px 15px;
}
.page_bottom .bottom_box .bottom_logo{
    height:20px;
    float:left;
}
.page_bottom .bottom_box .bottom_center{
    float:right;
}
.page_bottom .bottom_box .bottom_center .wechat,
.page_bottom .bottom_box .bottom_center .bottom_icon{
    float:left;
    height:18px;
    margin-right:8px;
    margin-top:2px;
    position:relative;
}
.page_bottom .bottom_box .bottom_center .wechat img{
    height:100%;
    float:left;
}
.page_bottom .bottom_box .bottom_center .wechat .wechat_code{
    width:100px;
    height:100px;
    border:2px solid #777;
    position:absolute;
    top:-120px;
    left:-20px;
}
.page_bottom .bottom_box .bottom_center ul{
    float:left;
}
.page_bottom .bottom_box .bottom_center li{
    float:left;
    font-size:10px;
    line-height:10px;
    color:#231815;
    border-left:1px solid #231815;
    padding:0 7px;
    margin-top:8px;
}

/*登录页面*/
.login_page{
    width:100%;
    min-height:480px;
    float:left;
    box-sizing:border-box;
    padding:120px 20px;
    position:relative;
}
.login_box{
    width:100%;
    float:left;
}
.login_box .login_title{
    width:100%;
    float:left;
    box-sizing:border-box;
    padding:0 15px;
}
.login_box .login_title img{
    width:20px;
    height:20px;
    float:left;
}
.login_box .login_title h2{
    float:left;
    margin-left:20px;
    font-size:14px;
    line-height:20px;
    color:#231815;
    font-weight:bold;
}
.login_box .login_input_box{
    width:100%;
    float:left;
    border:1px solid #000;
    border-radius:5px;
    background-color:#f5f5f5;
    box-sizing:border-box;
    padding:7px 14px 7px 54px;
    position:relative;
    margin-top:15px;
}
.login_box .login_input_box img{
    width:20px;
    height:20px;
    position:absolute;
    top:7px;
    left:15px;
}
.login_box .login_input_box input{
    width:100%;
    float:left;
    font-size:14px;
    line-height:20px;
    color:#231815;
    background-color:#f5f5f5;
}
.login_box .login_input_box input::-webkit-input-placeholder {
    color:#7a86a4;
}
.login_box .login_input_box input:-moz-placeholder {
    color:#7a86a4;
}
.login_box .login_input_box input::-moz-placeholder {
    color:#7a86a4;
}
.login_box .login_input_box input:-ms-input-placeholder {
    color:#7a86a4;
}
.login_box .login_btn{
    width:100%;
    float:left;
    background-color:#312927;
    font-size:18px;
    line-height:36px;
    color:#fff;
    text-align:center;
    position:relative;
    border-radius:5px;
    box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.4);
    margin-top:30px;
    user-select:none;
    -moz-user-select:none;
    -webkit-user-select:none;
}
.login_box .login_btn:active{
    background-color:#777;
}
.login_box .login_btn img{
    width:14px;
    height:14px;
    position:absolute;
    top:13px;
    left:50%;
    margin-left:27px;
}
.login_page .forgot_pwd{
    position:absolute;
    float:left;
    font-size:13px;
    color:#202020;
    line-height:15px;
    bottom:30px;
    left:50%;
    transform:translateX(-50%);
}
/*弹出菜单*/
.menu_body{
    width:100%;
    float:left;
    box-sizing:border-box;
    padding:30px 20px;
    position:absolute;
    top:52px;
    left:100%;
    background-color:#fff;
    box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.4);
    -moz-transition: all 0.5s 0s;
    -webkit-transition: all 0.5s 0s;
    transition: all 0.5s 0s;
    z-index:1000;
}
.menu_body.menu_show{
    left:0;
}
.menu_body .user_box{
    width:100%;
    float:left;
    position:relative;
}
.menu_body .user_box .user_icon{
    width:70px;
    height:70px;
    position:absolute;
    top:0;
    left:10px;
}
.menu_body .user_box .userinfo_box{
    width:100%;
    float:left;
    box-sizing:border-box;
    padding-left:100px;
    min-height:70px;
}
.menu_body .user_box .userinfo_box h2{
    width:100%;
    float:left;
    font-size:16px;
    line-height:30px;
    color:#000;
    font-weight:bold;
    margin-top:3px;
}
.menu_body .user_box .userinfo_box .login_btn,
.menu_body .user_box .userinfo_box .ucenter_btn,
.menu_body .user_box .userinfo_box .logout_btn{
    font-size:14px;
    line-height:24px;
    padding:0 15px;
    border-radius:4px;
    border:1px solid #f40002;
    margin-bottom:10px;
    user-select:none;
    -moz-user-select:none;
    -webkit-user-select:none;
}
.menu_body .user_box .userinfo_box .login_btn{
    background-color:#fff;
    color:#f40002;
    margin-top:22px;
    margin-right:10px;
}
.menu_body .user_box .userinfo_box .ucenter_btn{
    background-color:#f40002;
    color:#fff;
}
.menu_body .user_box .userinfo_box .logout_btn{
    background-color:#fff;
    color:#f40002;
}
.menu_body .user_box .userinfo_box .ucenter_btn:active{
    background-color:#da0002;
}
.menu_body .user_box .userinfo_box .login_btn:active,
.menu_body .user_box .userinfo_box .logout_btn:active{
    background-color:#efefef;
}
.menu_body .user_box .userinfo_box .edit_btn{
    margin-top:15px;
}
.menu_body .user_box .userinfo_box .edit_btn img{
    height:12px;
    float:left;
    margin-right:3px;
}
.menu_body .user_box .userinfo_box .edit_btn p{
    float:left;
    font-size:12px;
    line-height:12px;
    color:#231815;
    text-decoration:underline;
}
.menu_body .lesson_list{
    width:100%;
    float:left;
    margin-top:30px;
}
.menu_body .lesson_list .lesson_title{
    width:100%;
    float:left;
    box-sizing:border-box;
    padding:8px 10px;
    border-bottom:2px solid #000;
}
.menu_body .lesson_list .lesson_title img{
    height:18px;
    float:left;
    margin-right:10px;
}
.menu_body .lesson_list .lesson_title h2{
    float:left;
    font-size:16px;
    line-height:16px;
    color:#f40002;
}
.menu_body .lesson_list .lesson_bar{
    width:100%;
    float:left;
    box-sizing:border-box;
    padding:10px 0 10px 10px;
    border-bottom:1px solid #000;
    position:relative;
}
.menu_body .lesson_list .lesson_bar h2,
.menu_body .lesson_list .lesson_bar h3{
    float:left;
    font-size:16px;
    line-height:20px;
    color:#231815;
}
.menu_body .lesson_list .lesson_bar h2{
    font-size:18px;
    position:absolute;
    top:10px;
    left:10px;
}
.menu_body .lesson_list .lesson_bar h3{
    width:100%;
    box-sizing:border-box;
    padding-left:28px;
    position:relative;
    z-index:5;
}
.menu_body .lesson_list .lesson_bar img{
    width:18px;
    height:18px;
    position:absolute;
    right:0;
    top:10px;
    -moz-transition: all 0.5s 0s;
    -webkit-transition: all 0.5s 0s;
    transition: all 0.5s 0s;
}
.menu_body .lesson_list .lesson_bar.active h2,
.menu_body .lesson_list .lesson_bar.active h3,
.menu_body .lesson_list .lesson_bar ul .active{
    font-weight:bold;
}
.menu_body .lesson_list .lesson_bar.active img{
    transform:rotateZ(90deg);
}
.menu_body .lesson_list .lesson_bar ul{
    width:100%;
    float:left;
    box-sizing:border-box;
    padding:7px 0 0 28px;
    display:none;
}
.menu_body .lesson_list .lesson_bar ul li{
    width:100%;
    float:left;
    font-size:12px;
    line-height:28px;
    color:#231815;
}
/*修改头像*/
.modify_photo_page,
.password_page{
    width:100%;
    float:left;
    min-height:430px;
}
.pos_fix{
    position:fixed;
    bottom:0;
    left:0;
}
.page_title{
    width:100%;
    float:left;
    border-bottom:1px solid #d5d5d5;
    box-sizing:border-box;
    padding:10px 15px;
}
.page_title img{
    height:18px;
    float:left;
    margin-right:8px;
}
.page_title h2{
    float:left;
    font-size:14px;
    line-height:18px;
    color:#656565;
}
.modify_photo_box{
    width:100%;
    float:left;
    box-sizing:border-box;
    padding:15px;
}
.modify_photo_box img{
    width:120px;
    height:120px;
    float:left;
    margin:50px 0 50px 50%;
    border-radius:50%;
    transform:translateX(-50%);
}
.modify_btn{
    width:100%;
    float:left;
    font-size:14px;
    line-height:36px;
    color:#fff;
    background-color:#312927;
    border-radius:4px;
    text-align:center;
    box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.4);
    margin-bottom:30px;
    user-select:none;
    -moz-user-select:none;
    -webkit-user-select:none;
}
.modify_btn:active{
    background-color:#777;
}
/*找回密码*/
.password_box{
    width:100%;
    float:left;
    box-sizing:border-box;
    padding:40px 15px;
}
.password_box h2{
    width:100%;
    float:left;
    font-size:14px;
    line-height:18px;
    text-align:center;
    color:#595757;
    margin-bottom:30px;
}
.input_box{
    width:100%;
    float:left;
    margin-bottom:15px;
    position:relative;
}
.input_box p,
.input_box span{
    float:left;
    font-size:12px;
    line-height:14px;
}
.input_box p{
    color:#595757;
}
.input_box span{
    color:#f40002;
    margin-left:3px;
}
.input_box .check_img,
.input_box .pwd_check{
    width:12px;
    height:12px;
    float:left;
    margin:1px 10px;
}
.input_box input{
    width:100%;
    float:left;
    font-size:12px;
    line-height:14px;
    border:1px solid #8e8e8e;
    border-radius:3px;
    box-sizing:border-box;
    padding:8px 10px;
    margin-top:8px;
}
.input_box .pas_lev{
    width:100%;
    float:left;
    position:absolute;
    left:0;
    bottom:-10px;
}
.input_box .pas_lev li{
    width:50px;
    height:4px;
    float:left;
    margin-right:5px;
    display:none;
}
.input_box .pas_lev li.lev_1{
    background-color:#feefc7;
}
.input_box .pas_lev li.lev_2{
    background-color:#fcd776;
}
.input_box .pas_lev li.lev_3{
    background-color:#fabf1d;
}
.input_box .pas_lev li.lev_4{
    background-color:#f8a701;
}
.input_box .pas_lev li.lev_5{
    background-color:#f68b00;
}
.password_box .modify_btn{
    margin-top:30px;
}
.yz_box{
    padding-right:140px;
    box-sizing:border-box;
}
.yz_box .yz_img{
    width:120px;
    height:32px;
    position:absolute;
    bottom:0;
    right:0;
}
/*注册页面*/
.register_page{
    width:100%;
    float:left;
}
.register_page .register_body{
    width: 100%;
    float: left;
    box-sizing: border-box;
    padding: 30px 15px;
}
.register_body .register_step{
    width:100%;
    float:left;
    padding:0 10px;
    box-sizing: border-box;
}
.register_body .register_step p{
    width:33.33%;
    float:left;
    font-size:20px;
    line-height:24px;
    padding-bottom:10px;
    color:#ececec;
    text-align:center;
}
.register_body .register_step p.open{
    color:#000;
    border-bottom:2px solid #adadad;
}
.register_body h2{
    width:100%;
    float:left;
    font-size:14px;
    line-height:20px;
    color:#424242;
    text-align:center;
    margin:20px 0;
}
.agreement_iframe_div {
    width: 100%;
    height: 300px;
    float: left;
    background-color: #fff;
    -webkit-overflow-scrolling: touch;
    overflow: scroll;
    margin-bottom: 40px;
}
.agreement_iframe_div iframe{
    width: 100%;
    float: left;
    height: 300px;
}
.agreement_box{
    width: 100%;
    float: left;
    box-sizing: border-box;
    padding: 0px 10px;
}
.agreement_box p{
    width: 100%;
    float: left;
    font-size: 12px;
    line-height: 18px;
    color: #3b3b3b;
}
.register_btn_row{
    width:100%;
    float:left;
    margin-top:20px;
}
.register_body .modify_btn{
    margin-bottom:20px 
}
.disagree_btn,
.checkemail_btn{
    width:100%;
    float:left;
    font-size:14px;
    line-height:36px;
    color:#444;
    background-color:#c9c9ca;
    border-radius:4px;
    text-align:center;
    box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.4);
    margin-bottom:30px;
    user-select:none;
    -moz-user-select:none;
    -webkit-user-select:none;
}
.disagree_btn:active,
.checkemail_btn:active{
    background-color:#b6b6b6;
}
.register_body .register_success_img{
    width:100%;
    float:left;
    margin-bottom:40px;
}
/*弹出框*/
.alert_body{
    width:100%;
    height:100%;
    position:fixed;
    top:0;
    left:0;
}
.alert_bg{
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.7);
}
.alert_body .alert_box{
    width:90%;
    box-sizing:border-box;
    padding:20px;
    background-color:#f50002;
    position:absolute;
    top:50%;
    left:5%;
    transform:translateY(-50%);
}
.alert_body .alert_box .alert_icon{
    width:50px;
    height:50px;
    position:absolute;
    top:20px;
    left:20px;
}
.alert_body .alert_box .alert_content{
    width:100%;
    float:left;
    box-sizing:border-box;
    padding-left:65px;
}
.alert_body .alert_box .alert_content h2{
    width:100%;
    float:left;
    font-size:16px;
    line-height:20px;
    padding-bottom:15px;
    border-bottom:1px solid #fff;
    color:#fff;
}
.alert_body .alert_box .alert_content h3{
    width:100%;
    float:left;
    font-size:16px;
    line-height:20px;
    padding:15px 0;
    color:#fff;
}
.alert_body .alert_box .alert_content p{
    width:90%;
    float:left;
    font-size:12px;
    line-height:16px;
    color:#fff;
    margin-top:6px;
}
.alert_body .alert_box .alert_content a{
    width:90%;
    float:left;
    font-size:12px;
    line-height:16px;
    color:#fff;
    margin-top:6px;
}
.alert_body .alert_box .alert_btn_row{
    width:100%;
    float:left;
    margin-top:15px;
}
.alert_btn_row .alert_btn{
    width:100%;
    float:left;
    font-size:12px;
    line-height:30px;
    border-radius:3px;
    text-align:center;
    user-select:none;
    -moz-user-select:none;
    -webkit-user-select:none;
    background-color:#312927;
    color:#fff;
    box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.4);
    margin-top:20px;
}
.alert_btn_row .alert_btn:active{
    background-color:#777;
}
.alert_btn_row .cancel_btn{
    width:100%;
    float:left;
    font-size:12px;
    line-height:30px;
    color:#444;
    background-color:#c9c9ca;
    border-radius:3px;
    text-align:center;
    box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.4);
    margin-top:15px;
    user-select:none;
    -moz-user-select:none;
    -webkit-user-select:none;
}
.alert_btn_row .cancel_btn:active{
    background-color:#b6b6b6;
}
/*领取证书*/
.credential_page,
.credential_box,
.credential_page .credential_box .credential_img{
    width:100%;
    float:left;
}
.credential_page .credential_box .send_credential{
    width:100%;
    float:left;
    background-color:#f50002;
    box-sizing:border-box;
    padding:15px 20px;
}
.credential_page .credential_box .send_credential h1{
    width:100%;
    float:left;
    font-size:22px;
    line-height:28px;
    color:#fff;
    border-bottom:1px solid #f84041;
    padding-bottom:6px;
}
.credential_page .credential_box .send_credential p{
    width:100%;
    float:left;
    font-size:12px;
    line-height:16px;
    color:#fff;
    margin-top:25px;
    margin-bottom:8px;
}
.credential_page .credential_box .send_credential h2{
    width:45px;
    float:left;
    font-size:16px;
    line-height:30px;
    color:#fff;
    margin-top:15px;
    display:none;
}
.credential_page .credential_box .send_credential input{
    width:100%;
    float:left;
    font-size:12px;
    line-height:18px;
    box-sizing:border-box;
    padding:6px 15px;
    color:#231815;
    border:none;
    background-color:#fff;
    border-radius:5px;
    margin-top:8px;
}
.credential_box .send_credential input::-webkit-input-placeholder {
    color:#7a86a4;
}
.credential_box .send_credential input:-moz-placeholder {
    color:#7a86a4;
}
.credential_box .send_credential input::-moz-placeholder {
    color:#7a86a4;
}
.credential_box .send_credential input:-ms-input-placeholder {
    color:#7a86a4;
}
.credential_page .credential_box .send_btn_box{
    width:100%;
    float:left;
    box-sizing:border-box;
    padding:15px 20px;
    background-color:#fff;
}
.credential_page .credential_box .send_btn_box .send_btn,
.credential_page .credential_box .send_btn_box .cancel_btn{
    width:100%;
    float:right;
    font-size:14px;
    line-height:36px;
    border-radius:3px;
    user-select:none;
    -moz-user-select:none;
    -webkit-user-select:none;
    margin-bottom:10px;
    text-align:center;
    box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.4);
}
.credential_page .credential_box .send_btn_box .send_btn{
    color:#fff;
    background-color:#312927;
}
.credential_page .credential_box .send_btn_box .cancel_btn{
    color:#444;
    background-color:#c9c9ca;
}
.credential_page .credential_box .send_btn_box .send_btn:active{
    background-color:#777;
}
.credential_page .credential_box .send_btn_box .cancel_btn:active{
    background-color:#b6b6b6;
}
/*用户中心*/
.ucenter_page .userinfo_box{
    width:100%;
    float:left;
    background-color:#e86666;
    position:relative;
}
.ucenter_page .userinfo_box .user_pohoto_box{
    width:100px;
    float:left;
    margin-left:50%;
    transform:translateX(-50px);
    position:relative;
    z-index:10;
}
.ucenter_page .userinfo_box .user_pohoto_box img{
    width:70px;
    height:70px;
    float:left;
    margin:20px 0 0 15px;
    border-radius:50%;
}
.ucenter_page .userinfo_box .user_pohoto_box h2{
    width:100%;
    float:left;
    font-size:12px;
    line-height:20px;
    color:#94c51b;
    text-align:center;
    margin-top:10px;
}
.ucenter_page .userinfo_box .user_pohoto_box .percent_box{
    width:100%;
    height:8px;
    float:left;
    border-radius:4px;
    background-color:#fff;
}
.ucenter_page .userinfo_box .user_pohoto_box .percent_box .percent_div{
    width:0;
    height:8px;
    float:left;
    border-radius:4px;
    background-color:#94c51b;
    -moz-transition: all 0.5s 0s;
    -webkit-transition: all 0.5s 0s;
    transition: all 0.5s 0s;
}
.ucenter_page .userinfo_box .user_pohoto_box p{
    width:100%;
    float:left;
    font-size:10px;
    color:#fff;
    line-height:20px;
    text-align:center;
}
.ucenter_page .userinfo_box h3,
.ucenter_page .userinfo_box h4{
    width:50%;
    font-size:14px;
    line-height:20px;
    color:#fff;
    box-sizing:border-box;
    position:absolute;
    top:45px;
}
.ucenter_page .userinfo_box h3{
    padding-right:70px;
    left:0;
    text-align:right;
}
.ucenter_page .userinfo_box h4{
    padding-left:70px;
    right:0;
    text-align:left;
}
.ucenter_num_box{
    width:100%;
    float:left;
    background-color:#fff;
    border-top:1px solid #fcebeb;
    border-bottom:1px solid #f6c5c5;
    padding:5px 0;
}
.ucenter_num_box .ucenter_num_div{
    width:33.33%;
    float:left;
}
.ucenter_num_box .ucenter_num_div h2,
.ucenter_num_box .ucenter_num_div p{
    width:100%;
    float:left;
    color:#333;
    text-align:center;
}
.ucenter_num_box .ucenter_num_div h2{
    font-size:12px;
    line-height:16px;
}
.ucenter_num_box .ucenter_num_div p{
    font-size:10px;
    line-height:14px;
}
.ucenter_lesson_box{
    width:100%;
    float:left;
    box-sizing:border-box;
    padding:25px 40px;
    background:url(../images/ucenter_bg.jpg) no-repeat top left #ededed;
    background-size:100% auto;
}
.ucenter_lesson_box h1{
    width:100%;
    float:left;
    font-size:18px;
    line-height:20px;
    color:#231815;
    text-align:center;
    margin-bottom:15px;
}
.ucenter_lesson_box .lesson_box{
    width:100%;
    float:left;
    background-color:#fff;
    margin-bottom:16px;
}
.ucenter_lesson_box .lesson_box img{
    width:100%;
    float:left;
    border-bottom:2px solid #f40002;
}
.ucenter_lesson_box .lesson_box .lesson_text{
    width:100%;
    float:left;
    box-sizing:border-box;
    padding:10px;
}
.ucenter_lesson_box .lesson_box .lesson_text h2{
    width:25%;
    float:left;
    font-size:30px;
    line-height:30px;
    color:#ededed;
    font-style:italic
}
.ucenter_lesson_box .lesson_box .lesson_text h3{
    width:75%;
    float:left;
    font-size:16px;
    line-height:20px;
    color:#231815;
    margin-top:5px;
}
.ucenter_lesson_box .lesson_box .lesson_text .lesson_percent{
    width:100%;
    float:left;
    box-sizing:border-box;
    padding-left:25%;
}
.ucenter_lesson_box .lesson_box .lesson_text .lesson_percent p{
    float:left;
    font-size:14px;
    line-height:50px;
    color:#231815;
    margin-right:8px;
}
.ucenter_lesson_box .lesson_box .lesson_text .lesson_percent .percent_round{
    float:left;
    position:relative;
}
.ucenter_lesson_box .lesson_box .lesson_text .lesson_percent .circle-text {
    color: #80ba27;
}
.ucenter_lesson_box .lesson_box .lesson_text .lesson_percent .circle-text{
    width: 100%;
    position: absolute;
    text-align: center;
    display: inline-block;
}
.lesson_text .lesson_percent .lesson_btn{
    width:80px;
    float:right;
    font-size:16px;
    line-height:36px;
    margin:7px 0;
    border-radius:3px;
    text-align:center;
    color:#fff;
    user-select:none;
    -moz-user-select:none;
    -webkit-user-select:none;
}
.lesson_text .lesson_percent .go_study{
    background-color:#94c51b;
}
.lesson_text .lesson_percent .begin_study{
    background-color:#312927;
}
.lesson_text .lesson_percent .finish_study{
    background-color:#f40002;
}
.lesson_text .lesson_percent .go_study:active{
    background-color:#94d530;
}
.lesson_text .lesson_percent .begin_study:active{
    background-color:#777;
}
.lesson_text .lesson_percent .finish_study:active{
    background-color:#d90002;
}
/*考试页面*/
.exam_content{
    width:100%;
    float:left;
    padding:25px 15px;
    box-sizing:border-box;
    background-color:#fff;
}
.exam_content h1{
    width:100%;
    float:left;
    font-size:18px;
    line-height:24px;
    color:#231815;
    font-weight:bold;
    margin-bottom:20px;
}
.exam_content .question_box{
    width:100%;
    float:left;
    margin-bottom:20px;
}
.exam_content .question_box h2{
    width:100%;
    float:left;
    font-size:14px;
    line-height:20px;
    color:#231815;
}
.exam_content .question_box h2 img{
    width:17px;
    height:17px;
    margin:0 0 -4px 15px;
}
.exam_content .question_box .radio_box{
    width:100%;
    float:left;
    position:relative;
    margin:6px 0;
}
.exam_content .question_box .radio_box input[type="radio"] + span,
.exam_content .question_box .radio_box input[type="radio"]:checked + span{
    width:14px;
    height:14px;
    position:absolute;
    top:1px;
    left:1px;
    background:url(../images/radio.png) no-repeat;
    background-size:100%;
}
.exam_content .question_box .radio_box input[type="radio"]:checked + span{
    background-image:url(../images/radio_checked.png);
}
.exam_content .question_box .radio_box input[type="checkbox"] + span,
.exam_content .question_box .radio_box input[type="checkbox"]:checked + span{
    width:13px;
    height:13px;
    position:absolute;
    top:1px;
    left:1px;
    background:url(../images/checkbox.png) no-repeat;
    background-size:100%;
}
.exam_content .question_box .radio_box input[type="checkbox"]:checked + span{
    background-image:url(../images/checkbox_checked.png);
}
.exam_content .question_box .radio_box input{
    display:none;
}
.exam_content .question_box .radio_box p{
    width:100%;
    float:left;
    box-sizing:border-box;
    padding-left:24px;
    font-size:14px;
    line-height:14px;
    user-select:none;
    color:#231815;
}
.exam_content .exam_sub_btn{
    width:100%;
    float:right;
    font-size:14px;
    line-height:36px;
    border-radius:3px;
    user-select:none;
    -moz-user-select:none;
    -webkit-user-select:none;
    margin-bottom:20px;
    margin-top:10px;
    text-align:center;
    box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.4);
    user-select:none;
    -moz-user-select:none;
    -webkit-user-select:none;
    background-color:#312927;
    color:#fff;
}
.exam_content .exam_sub_btn:active{
    background-color:#777;
}
/*课程内容*/
.chapter_body {
    width:100%;
    float:left;
}
.chapter_body .chapter_content{
    width:100%;
    float:left;
    padding:25px 15px;
    box-sizing:border-box;
    background-color:#fff;
}
.chapter_body .chapter_content h1{
    width:100%;
    float:left;
    font-size:18px;
    line-height:20px;
    color:#231815;
    font-weight:bold;

}
.chapter_body .chapter_content .chapter_text{
    width:100%;
    float:left;
    margin-top:25px;
}
.chapter_body .chapter_content .chapter_text h2{
    width:100%;
    float:left;
    font-size:18px;
    color:#231815;
    font-weight:bold;
	line-height:24px;
	margin-bottom:25px;
}
.chapter_body .chapter_content .chapter_text strong{
	color:#231815;
    font-weight:bold;
	line-height:24px;
	font-size:14px;
}
.chapter_body .chapter_content .chapter_text a{
    font-size:12px;
    color:#c00;
	text-decoration: none;
}
.chapter_body .chapter_content .chapter_text a:hover{
	text-decoration:underline;
}
.chapter_body .chapter_content .chapter_text p{
    width:100%;
    float:left;
    font-size:12px;
    line-height:20px;
    color:#231815;
    margin-bottom:25px;
}
.chapter_body .chapter_content .chapter_text img{
    width:100%;
    margin-top:15px;
    float:left;
}
.chapter_body .chapter_content .chapter_text em{
    width:100%;
    float:left;
    font-size:10px;
    line-height:16px;
    color:#a9a9a9;
}
.chapter_body .chapter_content .chapet_btn_row,
.chapter_body .exam_content .chapet_btn_row{
    width:100%;
    float:left;
}
.chapter_body .chapter_content .chapet_btn_row .chapter_btn{
    width:100%;
    font-size:16px;
    line-height:36px;
    border-radius:4px;
    margin-bottom:15px;
    text-align:center;
    background-color:#312927;
    color:#fff;
    user-select:none;
    -moz-user-select:none;
    -webkit-user-select:none;
    box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.4);
}
.chapter_body .chapter_content .chapet_btn_row .chapter_btn:active{
    background-color:#777;
}
/*课程列表*/
.chapter_page{
    width:100%;
    float:left;
    box-sizing:border-box;
    padding:25px 15px;
}
.chapter_page h1,
.chapter_page p,
.chapter_page .chapter_list_div h2{
    width:100%;
    float:left;
    color:#231815;
}
.chapter_page h1{
    font-size:18px;
    line-height:24px;
    margin-bottom:15px;
    font-weight:bold;
}
.chapter_page p{
    font-size:10px;
    line-height:14px;
    margin-bottom:13px;
}
.chapter_page .chapter_list_div{
    width:47%;
    float:left;
    background-color:#ededed;
    padding-bottom:10px;
    margin-bottom:15px;
}
.chapter_page .chapter_list_div:nth-child(2n+1){
    margin-right:6%;
}
.chapter_page .chapter_list_div img{
    width:100%;
    float:left;
}
.chapter_page .chapter_list_div h2{
    font-size:14px;
    line-height:18px;
    box-sizing:border-box;
    padding:0 10px;
    margin-top:6px;
}
/*礼品页面*/
.prize_title{
    width:100%;
    float:left;
    box-sizing:border-box;
    padding:8px 15px;
}
.prize_title img{
    width:24px;
    height:24px;
    float:left;
    margin-right:10px;
}
.prize_title p{
    float:left;
    font-size:14px;
    line-height:24px;
    color:#656565;
}
/*领取礼品*/
.prize_page{
    box-sizing:border-box;
    padding:30px 12% 30px 13%;
}
.prize_page .prize_exchange_box{
    width:100%;
    float:left;
    box-sizing:border-box;
    padding:5%;
    background-color:#fff;
    border-radius:4px;
    box-shadow: 3px 3px 3px 2px rgba(0,0,0,0.4);
}
.prize_page .prize_exchange_box .prize_exchange_div,
.prize_page .prize_exchange_box .prize_exchange_div .prize_img{
    width:100%;
    float:left;
    position:relative;
}
.prize_exchange_div .prize_exchange_bar{
    width:128.8%;
    position:absolute;
    bottom:-12%;
    left:-16.2%;
}
.prize_exchange_div .prize_exchange_bar img{
    width:100%;
    float:left;
}
.prize_exchange_div .prize_exchange_bar h2,
.prize_exchange_div .prize_exchange_bar h3{
    color:#fff;
    text-align:center;
    position:absolute;
}
.prize_exchange_div .prize_exchange_bar h2{
    width:26%;
    top:18%;
    left:0;
    font-size:14px;
    line-height:14px;
}
.prize_exchange_div .prize_exchange_bar h3{
    width:77%;
    bottom:18%;
    right:0;
    font-size:12px;
    line-height:14px;
}
.prize_exchange_box .prize_exchange_text h1{
    width:100%;
    float:left;
    font-size:20px;
    color:#231815;
    line-height:26px;
    padding-bottom:8px;
    border-bottom:1px solid #c8c5c4;
    margin-top:40px;
}
.prize_exchange_box .prize_exchange_text p{
    width:100%;
    float:left;
    font-size:12px;
    line-height:20px;
    color:#231815;
    margin-bottom:15px;
    margin-top:3px;
}
.prize_exchange_box .prize_exchange_text .prize_input{
    float:left;
    margin-bottom:15px;
    position:relative;
    box-sizing:border-box;
    padding-left:34px;
}
.prize_exchange_box .prize_exchange_text .prize_input h2{
    width:34px;
    position:absolute;
    top:0;
    left:0;
    font-size:14px;
    line-height:30px;
}
.prize_exchange_box .prize_exchange_text .prize_input input{
    width:100%;
    float:left;
    box-sizing:border-box;
    padding:5px 5px;
    font-size:14px;
    line-height:18px;
    color:#231815;
    border-radius:3px;
    border:1px solid #c8c5c4;
}
.prize_exchange_box .prize_exchange_text .prize_input.name{
    width:40%;
    margin-right:5%;
}
.prize_exchange_box .prize_exchange_text .prize_input.tel{
    width:55%;
}
.prize_exchange_box .prize_exchange_text .prize_input.address{
    width:100%;
}
.prize_exchange_box .prize_exchange_text .prize_input_btn{
    width:80px;
    float:right;
    font-size:14px;
    line-height:30px;
    border-radius:3px;
    text-align:center;
    background-color:#312927;
    color:#fff;
    user-select:none;
    -moz-user-select:none;
    -webkit-user-select:none;
    margin-left:10px;
}
.prize_exchange_box .prize_exchange_text .prize_input_btn:active{
    background-color:#777;
}