html,body,div,span,iframe,map,font,img,a img,samp,strong,hr,
h1,h2,h3,h4,h5,h6,b,p,blockquote,a,address,code,dl,dt,dd,ol,
ul,li,form,label,table,tr,td,th,input{padding:0;margin:0;border:0;font-weight:normal;font-size:16px;font-family: Microsoft Yahei, Arial, Helvetica, sans-serif; color:#606060;}
body{background: #fff;position:relative;min-height:100%;}ul,li{list-style:none;}dl{}.f_l{float:left;}.f_r{float:right;}
html,div,img{
    border-image-width:0 !important;
}
.m_t_20{
    margin-top:20px;
}
.m_b_20{
    margin-bottom:20px;
}
.row{
    width:100%;
    float:left;
}

@font-face {
	font-family: 'Kla_b_i';
	src: url('../font/Klavika Bold Italic.ttf') format('truetype'),
        url('../font/Klavika Bold Italic.otf') format('truetype') ;
	font-style: normal;
}
@font-face {
	font-family: 'Kla_b';
	src: url('../font/Klavika Bold.otf') format('truetype'),
        url('../font/Klavika Bold.ttf') format('truetype');
	font-style: normal;
}
@font-face {
	font-family: 'Kla_l_i';
	src: url('../font/Klavika Light Italic.otf') format('truetype'),
        url('../font/Klavika Light Italic.ttf') format('truetype');
	font-style: normal;
}
@font-face {
	font-family: 'Kla_l';
	src: url('../font/Klavika Light.otf') format('truetype'),
        url('../font/Klavika Light.ttf') format('truetype');
	font-style: normal;
}
@font-face {
	font-family: 'Kla_m_i';
	src: url('../font/Klavika Medium Italic.otf') format('truetype'),
        url('../font/Klavika Medium Italic.ttf') format('truetype');
	font-style: normal;
}
@font-face {
	font-family: 'Kla_m';
	src: url('../font/Klavika Medium.otf') format('truetype'),
        url('../font/Klavika Medium.ttf') format('truetype');
	font-style: normal;
}
@font-face {
	font-family: 'Kla_r_i';
	src: url('../font/Klavika Regular Italic.otf') format('truetype'),
        url('../font/Klavika Regular Italic.ttf') format('truetype');
	font-style: normal;
}
@font-face {
	font-family: 'Kla_r';
	src: url('../font/Klavika Regular.otf') format('truetype'),
        url('../font/Klavika Regular.ttf') format('truetype');
	font-style: normal;
}
/*顶部*/
.page_top{
    width:100%;
    float:left;
    min-width:1280px;
}
.page_top .top_red_line{
    width:100%;
    height:15px;
    float:left;
    min-width:1280px;
    background-color:#f50002;
}
.page_top .top_box{
    width:1280px;
    overflow:hidden;
    box-sizing:border-box;
    margin:0 auto;
    padding:30px 160px;
}
.page_top .top_box .top_logo{
    float:left;
    padding:0 20px;
    border-left:1px solid #c8c5c4;
}
.page_top .top_box .top_logo:first-child{
    padding-left:0;
    border-left:0;
}
.page_top .top_box .top_right{
    float:right;
    padding-top:34px;
}
.page_top .top_box .top_right .w_btn{
    float:right;
    border:1px solid #c8c5c4;
    border-radius:2px;
    background:#fff;
    padding:0 10px;
    margin-left:10px;
    cursor:pointer;
    user-select:none;
    -moz-user-select:none;
    -webkit-user-select:none;
}
.page_top .top_box .top_right .w_btn:hover{
    background-color:#f5f5f5;
}
.page_top .top_box .top_right .w_btn img{
    float:left;
    height:16px;
    margin-top:7px;
    margin-right:6px;
}
.page_top .top_box .top_right .w_btn p{
    float:left;
    font-size:14px;
    line-height:28px;
    color:#595656;
}
.page_top .top_box .top_right .r_btn{
    float:right;
    background-color:#f50002;
    border-radius:2px;
    padding:0 10px;
    margin-left:10px;
    font-size:14px;
    line-height:30px;
    color:#fff;
    cursor:pointer;
    user-select:none;
    -moz-user-select:none;
    -webkit-user-select:none;
}
.page_top .top_box .top_right .r_btn:hover{
    background-color:#bf0406;
}
.page_top .top_box .top_right .text_btn{
    float:right;
    padding:0 10px;
    margin-left:10px;
    font-size:14px;
    line-height:30px;
    color:#595656;
    cursor:pointer;
    user-select:none;
    -moz-user-select:none;
    -webkit-user-select:none;
}
.page_top .top_box .top_right .text_btn:hover{
    text-decoration:underline;
}
/*首页-中间大图*/
.big_img_box{
    width:100%;
    height:400px;
    float:left;
    min-width:1280px;
    background:url(../images/big_img.jpg) no-repeat top center;
    background-size:auto 400px;
}
/*首页-内容*/
.page_content_box{
    width:100%;
    float:left;
    min-width:1280px;
}
.page_content{
    width:1280px;
    overflow:hidden;
    box-sizing:border-box;
    margin:0 auto;
}
.page_content .lesson_list_box{
    width:1280px;
    float:left;
    box-sizing:border-box;
    background:url(../images/mid_bg.jpg) no-repeat top left #ededed;
    background-size:100% auto;
    padding:50px 160px 50px 160px;
}
.page_content .lesson_list_box h2,
.partner_box h2{
    width:100%;
    float:left;
    font-size:18px;
    color:#231815;
    line-height:22px;
    margin-bottom:30px;
}
.page_content .lesson_list_box .lesson_div{
    width:450px;
    float:left;
    cursor:pointer;
    margin-bottom:40px;
}
.page_content .lesson_list_box .lesson_div:nth-child(2n){
    margin-right:30px;
}
.page_content .lesson_list_box .lesson_div:nth-child(2n+1){
    margin-left:30px;
}
.page_content .lesson_list_box .lesson_div img{
    width:100%;
    float:left;
}
.page_content .lesson_list_box .lesson_div .lesson_name{
    width:100%;
    float:left;
    background-color:#fff;
    border-top:3px solid #f50002;
    box-sizing:border-box;
    padding:10px 20px;
}
.page_content .lesson_list_box .lesson_div .lesson_name p{
    width:320px;
    float:left;
    font-size:16px;
    line-height:20px;
    color:#231815;
    margin-top:14px;
}
.page_content .lesson_list_box .lesson_div .lesson_name h3{
    width:90px;
    float:right;
    font-size:60px;
    line-height:60px;
    color:#ededed;
    font-family:Kla_l_i;
    text-align:right;
}
/*首页-合作伙伴*/
.partner_box{
    width:1280px;
    float:left;
    box-sizing:border-box;
    padding:50px 160px;
}
.partner_box .partner_logo_box{
    width:800px;
    float:left;
    padding:0 80px;
}
.partner_box .partner_logo_box a{
    float:left;
    margin-right:70px;
}
.partner_box .partner_logo_box img{
    width:220px;
    float:left;
    margin-bottom:10px;
}
.partner_box .partner_logo_box a:nth-child(3n){
    margin-right:0;
}
/*首页-奖品*/
.gift_box,
.gotu_info{
    width:1280px;
    float:left;
    position:relative;
}
.gift_box .gift_bg,
.gotu_info img{
    width:100%;
    float:left;
}
.gift_box .gift_img{
    width:970px;
    position:absolute;
    top:183px;
    left:183px;
}
.gift_box .gift_btn{
    position:absolute;
    top:186px;
    left:185px;
}
/*首页-跳转德国会议促进局中文网页*/
.gotu_info .info_btn{
    position:absolute;
    top:86px;
    right:185px;
}

/*登录-红色横条*/
.login_top{
    width:100%;
    float:left;
    min-width:1280px;
    background-color:#f50002;
}
.login_top .login_top_div{
    width:1280px;
    margin:0 auto;
    padding:20px 160px;
    box-sizing:border-box;
    overflow:hidden;
}
.login_top .login_top_div .login_top_left{
    float:left;
}
.login_top .login_top_div .login_top_left img{
    height:22px;
    float:left;
    margin-top:2px;
}
.login_top .login_top_div .login_top_left p{
    float:left;
    font-size:20px;
    line-height:24px;
    color:#fff;
    margin-left:10px;
}
.login_top .login_top_div .login_top_right{
    float:right;
}
.login_top .login_top_div .login_top_right p,
.login_top .login_top_div .login_top_right span{
    float:left;
    font-size:14px;
    line-height:16px;
    margin-top:8px;
    color:#fff;
}
.login_top .login_top_div .login_top_right p{
    cursor:pointer;
}
.login_top .login_top_div .login_top_right p:hover{
    text-decoration:underline;
}
.login_top .login_top_div .login_top_right span{
    margin:7px 5px 0 5px;
}
/*登录-登录框*/
.login_box{
    width:1280px;
    height:500px;
    margin:0 auto;
    box-sizing:border-box;
    background:url(../images/login_bg.jpg) no-repeat top left;
    background-size:100% 100%;
}
.login_box .login_div{
    width:450px;
    float:left;
    padding:20px 80px;
    background-color:#fff;
    border-radius:8px;
    margin-left:415px;
    margin-top:100px;
    box-sizing:border-box;
}
.login_box .login_div h1{
    width:100%;
    float:left;
    font-size:18px;
    line-height:24px;
    color:#595656;
    margin:10px 0;
}
.login_box .login_div h2,
.login_box .login_div h3{
    float:left;
    margin-top:15px;
    font-size:13px;
    line-height:25px;
    color:#595656;
}
.login_box .login_div h3:hover{
    text-decoration:underline;
}
.login_box .login_div a{
    float:left;
    margin-left:10px;
}
.login_box .login_div input{
    width:100%;
    float:left;
    font-size:13px;
    color:#231815;
    line-height:19px;
    padding:5px 10px;
    border:1px solid #d5d5d5;
    border-radius:3px;
    box-sizing:border-box;
}
.login_box .login_div p{
    float:left;
    font-size:11px;
    color:#595656;
    line-height:15px;
    cursor:pointer;
    user-select:none;
    -moz-user-select:none;
    -webkit-user-select:none;
    margin-bottom:30px;
    margin-top:5px;
}
.login_box .login_div p:hover{
    color:#f50002;
}
.login_box .login_div .input_box{
    width:100%;
    float:left;
    position:relative;
}
.login_box .login_div .login_btn{
    width:100%;
    float:left;
    box-sizing:border-box;
    text-align:center;
    font-size:14px;
    line-height:32px;
    color:#fff;
    background-color:#312927;
    border-radius:3px;
    cursor:pointer;
    user-select:none;
    -moz-user-select:none;
    -webkit-user-select:none;
    margin-bottom:20px;
}
.login_box .login_div .login_btn:hover{
    background-color:#777;
}
/*注册-页面1*/
.register_box{
    width:1280px;
    margin:0 auto;
    padding:45px 160px;
    box-sizing:border-box;
    background-color:#ededed;
    overflow:hidden;
    border-bottom:1px solid #dedddd;
}
.register_box .register_body{
    width:100%;
    float:left;
    padding:30px 0 50px 0;
    background-color:#fff;
    box-sizing:border-box;
}
.register_box .register_body .register_step{
    float:left;
    margin-left:150px;
}
.register_box .register_body .register_step p{
    width:130px;
    float:left;
    color:#ededed;
    font-family:Kla_r;
    font-size:24px;
    line-height:60px;
    text-align:center;
    margin:0 45px;
}
.register_box .register_body .register_step p.open{
    color:#231815;
    border-bottom:1px solid #c8c5c4;
}
.register_box .register_body h2{
    width:100%;
    float:left;
    font-size:18px;
    line-height:20px;
    color:#595656;
    text-align:center;
    margin:40px 0 20px 0;
}
.register_box .register_body h2 span{
    font-size:18px;
    line-height:20px;
    color:#f50002;
}
.register_box .aggreement_box{
    width:100%;
    height:500px;
    float:left;
    box-sizing:border-box;
    padding:0 60px;
}
.register_box .aggreement_box iframe{
    width:100%;
    height:100%;
}
.register_box .register_btn_row{
    width:100%;
    float:left;
    margin-top:40px;
    box-sizing:border-box;
    padding:0 60px;
}
.register_btn_row .confirm_btn,
.register_btn_row .cancel_btn{
    width:60px;
    height:30px;
    float:right;
    font-size:12px;
    line-height:30px;
    margin-left:20px;
    border-radius:3px;
    text-align:center;
    cursor:pointer;
    user-select:none;
    -moz-user-select:none;
    -webkit-user-select:none;
}
.register_btn_row .confirm_btn{
    background-color:#312927;
    color:#fff;
}
.register_btn_row .confirm_btn:hover{
    background-color:#777;
}
.register_btn_row .cancel_btn{
    background-color:#f2f2f2;
    color:#7F7D7D;
}
.register_btn_row .cancel_btn:hover{
    background-color:#fafafa;
}
/*协议页面*/
.agreement_box{
    width:100%;
    float:left;
}
.agreement_box p{
    width:100%;
    float:left;
    font-size:13px;
    line-height:21px;
    color:#838080;
    box-sizing:border-box;
    padding-right:40px;
}
/*注册-页面2*/
.register_form{
    width:100%;
    float:left;
    box-sizing:border-box;
    padding:0 60px;
}
.register_form .input_box{
    width:390px;
    float:left;
    position:relative;
    margin-bottom:15px;
}
.register_form .input_box:nth-child(2n+1){
    margin-right:30px;
}
.register_form .input_box:nth-child(2n){
    margin-left:30px;
}
.register_form .input_box p{
    float:left;
    font-size:13px;
    line-height:23px;
    color:#636161;
    margin-right:5px;
}
.register_form .input_box p span,
.login_box .login_div h2 span{
    font-size:13px;
    line-height:23px;
    color:#f50002;
}
.register_form input {
    width:100%;
    float:left;
    font-size:13px;
    line-height:19px;
    color:#595656;
    box-sizing:border-box;
    padding:5px 10px;
    border:1px solid #d5d5d5;
    border-radius:4px;
    margin-top:5px;
}
.register_form .pas_lev,
.login_box .login_div .input_box .pas_lev{
    width:100%;
    float:left;
    position:absolute;
    left:0;
    bottom:-10px;
}
.register_form .pas_lev li,
.login_box .login_div .input_box .pas_lev li{
    width:50px;
    height:4px;
    float:left;
    margin-right:5px;
    display:none;
}
.register_form .pas_lev li.lev_1,
.login_box .login_div .input_box .pas_lev li.lev_1{
    background-color:#fdd9d9;
}
.register_form .pas_lev li.lev_2,
.login_box .login_div .input_box .pas_lev li.lev_2{
    background-color:#fba6a7;
}
.register_form .pas_lev li.lev_3,
.login_box .login_div .input_box .pas_lev li.lev_3{
    background-color:#f97374;
}
.register_form .pas_lev li.lev_4,
.login_box .login_div .input_box .pas_lev li.lev_4{
    background-color:#f84041;
}
.register_form .pas_lev li.lev_5,
.login_box .login_div .input_box .pas_lev li.lev_5{
    background-color:#f50002;
}
.register_form .input_box .sex_box{
    width:60px;
    float:left;
    margin-right:30px;
}
.register_form .input_box .yzm_box{
    width:160px;
    float:left;
    margin-right:15px;
}
.register_form .input_box .yzm_img{
    width:125px;
    height:31px;
    float:left;
    margin-top:28px;
    overflow:hidden;
    border-radius:3px;
}
.register_form .input_box .yzm_img img{
    width:100%;
    height:100%;
    float:left;
}
.register_form .input_box .pwd_check,
.login_box .login_div .pwd_check{
    width:12px;
    float:left;
    margin-top:6px;
}
.login_box .login_div .pwd_check{
    margin-top:22px;
    margin-left:8px;
}
.register_form .input_box .sec_box{
    width:180px;
    float:left;
    margin-left:30px;
}
.register_form .input_box .sec_box:first-child{
    margin:0;
}
/*注册-页面3*/
.register_img{
    width:100%;
    float:left;
}
.success_btn_box{
    float:left;
    margin-left:332px;
}
.success_btn_box .suc_btn{
    float:right;
    font-size:12px;
    line-height:30px;
    margin-left:20px;
    border-radius:3px;
    text-align:center;
    cursor:pointer;
    user-select:none;
    -moz-user-select:none;
    -webkit-user-select:none;
    background-color:#312927;
    color:#fff;
    padding:0 10px;
    margin:0 10px;
}
.success_btn_box .suc_btn:hover{
    background-color:#777;
}
/*找回密码页面*/
.findpwd_box{
    margin-top:25px !important;
}
.findpwd_box .yzm_box{
    width:100%;
    float:left;
}
.findpwd_box .yzm_box input{
    width:55%;
}
.findpwd_box .yzm_box img{
    width:35%;
    height:31px;
    float:right;
    border-radius:3px;
}
.findpwd_box .login_btn{
    margin-top:30px;
}
/*修改头像页面*/
.user_photo{
    width:130px;
    height:130px;
    background-color:#999;
    float:left;
    border-radius:3px;
    overflow:hidden;
    margin:10px 80px 30px 80px;
}
.user_photo img{
    width:100%;
    height:100%;
    float:left;
}
/*用户中心页面*/
.ucenter_top{
    width:100%;
    float:left;
    min-width:1280px;
    background-color:#f50002;
}
.ucenter_top .ucenter_top_div{
    width:1280px;
    margin:0 auto;
    padding:0 160px;
    box-sizing:border-box;
    overflow:hidden;
}
.ucenter_top .ucenter_top_div p{
    font-size:14px;
    line-height:30px;
    color:#fff;
    float:right;
    margin-left:10px;
}
.ucenter_title_box{
    width:1280px;
    margin:0 auto;
    padding:0 160px;
    box-sizing:border-box;
    background-color:#ededed;
    overflow:hidden;
}
.ucenter_title_box .ucenter_title{
    width:100%;
    float:left;
}
.ucenter_title_box .ucenter_title h2{
    float:left;
    font-size:19px;
    line-height:75px;
    color:#231815;
}
.ucenter_title_box .ucenter_title .user_portrait{
    width:75px;
    height:75px;
    float:left;
    margin:0 20px;
}
.ucenter_title_box .ucenter_title .complete_percent{
    float:left;
}
.ucenter_title_box .ucenter_title .complete_percent p{
    float:left;
    font-size:14px;
    line-height:70px;
    color:#231815;
    margin:4px 10px 0 80px;
}
.ucenter_title_box .ucenter_title .complete_percent #title_percent{
    float:left;
    margin-top:14px;
}
.ucenter_title_box .ucenter_title .complete_percent .circle-text{
    margin-left:50px;
    color:#80ba27;
}
.ucenter_title_box .ucenter_title .logout_btn{
    float:right;
    font-size:14px;
    line-height:30px;
    color:#231815;
    background-color:#fff;
    border-radius:4px;
    padding:0 20px;
    margin-top:22px;
    user-select:none;
    -moz-user-select:none;
    -webkit-user-select:none;
}
.ucenter_title_box .ucenter_title .logout_btn:hover{
    background-color:#f7f7f7;
}
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/*弹出框*/
.alert_body{
    width:100%;
    height:100%;
    position:fixed;
    top:0;
    left:0;
}
.alert_bg{
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.7);
}
.alert_body .alert_box{
    width:470px;
    box-sizing:border-box;
    padding:30px 40px;
    background-color:#f50002;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
.alert_body .alert_box .alert_icon{
    width:80px;
    height:80px;
    float:left;
}
.alert_body .alert_box .alert_content{
    width:310px;
    float:left;
    box-sizing:border-box;
    padding-left:15px;
}
.alert_body .alert_box .alert_content h2{
    width:100%;
    float:left;
    font-size:20px;
    line-height:24px;
    padding-bottom:20px;
    border-bottom:1px solid #fff;
    color:#fff;
}
.alert_body .alert_box .alert_content h3{
    width:100%;
    float:left;
    font-size:20px;
    line-height:24px;
    padding:28px 0;
    color:#fff;
}
.alert_body .alert_box .alert_content p{
    width:75%;
    float:left;
    font-size:14px;
    line-height:18px;
    color:#fff;
    margin-top:6px;
}
.alert_body .alert_box .alert_content a{
    width:75%;
    float:left;
    font-size:14px;
    line-height:18px;
    color:#fff;
    margin-top:6px;
}
.alert_body .alert_box .alert_content .alert_btn_row{
    width:100%;
    float:left;
    margin-top:15px;
}
.alert_btn_row .alert_btn{
    height:30px;
    float:right;
    font-size:12px;
    line-height:30px;
    margin-left:20px;
    border-radius:3px;
    text-align:center;
    cursor:pointer;
    user-select:none;
    -moz-user-select:none;
    -webkit-user-select:none;
    background-color:#312927;
    color:#fff;
    padding:0 20px;
}
.alert_btn_row .alert_btn:hover{
    background-color:#777;
}

/*页面底部*/
.copyright_statement,
.page_bottom{
    width:100%;
    float:left;
    min-width:1280px;
    background-color:#ababab;
}
.copyright_statement{
    background-color:#ededed;
    font-size:13px;
    line-height:40px;
    text-align:center;
}
.page_bottom .bottom_box{
    width:1280px;
    height:70px;
    margin:40px auto 0 auto;
    padding:0 160px;
    box-sizing:border-box;
    position:relative;
}
.page_bottom .bottom_box .bottom_logo{
    height:32px;
    position:absolute;
    top:19px;
    left:160px;
}
.page_bottom .bottom_box .bottom_center{
    width:400px;
    float:left;
    margin-top:20px;
    margin-left:280px;
}
.page_bottom .bottom_box .bottom_center .wechat,
.page_bottom .bottom_box .bottom_center .bottom_icon{
    height:29px;
    float:left;
    margin-right:8px;
}
.page_bottom .bottom_box .bottom_center .wechat img{
    height:100%;
    float:left
}
.page_bottom .bottom_box .bottom_center .wechat .wechat_code{
    width:150px;
    height:150px;
    position:absolute;
    top:-164px;
    left:380px;
    border:5px solid #777;
    display:none;
}
.page_bottom .bottom_box .bottom_center .wechat:hover .wechat_code{
    display:block;
}
.page_bottom .bottom_box .bottom_center ul{
    float:right;
    margin:7px 0 7px 20px;
}
.page_bottom .bottom_box .bottom_center ul li{
    float:left;
    font-size:14px;
    line-height:16px;
    color:#231815;
    border-left:1px solid #231815;
    padding:0 10px;
    cursor:pointer;
    user-select:none;
    -moz-user-select:none;
    -webkit-user-select:none;
}
.page_bottom .bottom_box .bottom_center ul li:first-child{
    border:0;
}
.page_bottom .bottom_box .bottom_center ul li:hover{
    text-decoration:underline;
}
.black_btn {
    padding:0 16px;
    font-size:16px;
    color:#fff;
    line-height:42px;
    border-radius:3px;
    background-color:#000;
    cursor:pointer;
    user-select:none;
    -moz-user-select:none;
    -webkit-user-select:none;
}
.black_btn:hover{
    background-color:#777;
}
.dis{
    display:none;
}
/*圆形百分比*/
.circliful {
    position: relative;
}

.circle-text, .circle-info, .circle-text-half, .circle-info-half {
    width: 100%;
    position: absolute;
    text-align: center;
    display: inline-block;
}

.circle-info, .circle-info-half {
    color: #999;
}

.circliful .fa {
    margin: -10px 3px 0 3px;
    position: relative;
    bottom: 4px;
}